@{
    ViewData["Title"] = "UABinYourPocket";
}
@model List<UCModel>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - UABinYourPocket</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/UABinYourPocket.styles.css" asp-append-version="true" />
</head>


<div class="landing-page">

    <header>
        <div class="container">

            <a> While(<b>True</b>) Cry();</a>
            <ul class="links">
                <li><a asp-controller="Home" asp-action="Index">Inicio</a></li>
                <li><a asp-controller="UnidadesCurriculares" asp-action="UnidadesCurriculares">Unidades Curriculares</a></li>
                <li> <a asp-controller="Calendario" asp-action="Calendario">Calendário</a></li>
                <li>
                    @if (TempData["User"] != null)
                    {
                        @TempData["User"]
                        TempData.Keep("User");
                    }
                    else
                    {
                        <a role="button" asp-controller="Login" asp-action="Login">Login</a>

                    }
                </li>

              @*  @if (TempData["User"] != null)
                {
                    <li>
                        <button onclick="@TempData.Remove("User")">Logout</button>
                    </li>
                }*@



            </ul>

        </div>
    </header>
    <br />
    <br />
    <br />
   
    <div class="content">
        @*<div class="container">*@


        <h2>Unidades Curriculares</h2>

        <div style="display: flex; justify-content:flex-end">
            <a role="button1" asp-route-id="" asp-controller="PDF" asp-action="GerarPdfComNotas"><img src="~/images/pdfblue.png" width="30" /></a>
        </div>


        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Periodo</th>
                    <th scope="col">Ano</th>
                    <th scope="col">Código</th>
                    <th scope="col">Disciplina</th>
                    <th scope="col">ECTS</th>
                    <th scope="col">Estado</th>
                    <th scope="col"></th>

                </tr>
            </thead>
            <tbody>

                @if (Model != null && Model.Any())
                {
                    foreach (UCModel uc in Model)
                    {

                        <tr>
                            <th scope="row">@uc.Semestre</th>
                            <td>@uc.Ano</td>
                            <td>@uc.ID</td>
                            <td>@uc.Nome</td>
                            <td>@uc.ESCTS</td>
                            <td>Aprovado</td>
                            <td>
                                <div class="btn-group" role="group" aria-label="Basic example">
                                   
                                    @* Verificar se está inscrito se sim edita senao pode inscrever na UC*@
                                    <a role="button" class="btn btn-primary" asp-route-id="@uc.ID" asp-controller="UnidadesCurriculares" asp-action="Editar">Editar</a>

                                    <a role="button" class="btn btn-primary" asp-route-id="@uc.ID" asp-controller="UnidadesCurriculares" asp-action="Inscrever">Inscrever</a>
                                   
                                </div>
                            </td>
                        </tr>

                    }    

                } else
                {
                    
                        <tr>
                        <td><strong>Não existe dados na Base de dados.</strong></td>
                        </tr>
                
                }


                @************************************************************************************@

                
                <tr>
                    <th scope="row">1.º Semestre</th>
                    <td>1.º Ano</td>
                    <td>21002</td>
                    <td>Álgebra Linear</td>
                    <td>6,00</td>
                    <td>Aprovado</td>
                    <td>
                        <div class="btn-group" role="group" aria-label="Basic example">
                            <a role="button" class="button" asp-controller="UnidadesCurriculares" asp-action="Editar">Editar</a> @*asp-route-id="@uc.ID"*@
                          @*  <button onclick="location.href='@Url.Action("Editar", "UnidadesCurriculares")'">Editar</button>*@
                         </div>
                    </td>
                </tr>

                <tr>
                    <th scope="row">1.º Semestre</th>
                    <td>1.º Ano</td>
                    <td>21002</td>
                    <td>Álgebra Linear</td>
                    <td>6,00</td>
                    <td>Por Iniciar</td>
                    <td>
                        <div class="btn-group" role="group" aria-label="Basic example">
                            <a role="button" class="button" asp-controller="UnidadesCurriculares" asp-action="Inscrever">Inscrever</a> @*asp-route-id="@uc.ID"*@
@*                             <button onclick="location.href='@Url.Action("Inscrever", "UnidadesCurriculares")'">Inscrever</button>
*@                        </div>
                    </td>
                </tr>

                <tr>
                    <th scope="row">1.º Semestre</th>
                    <td>1.º Ano</td>
                    <td>21002</td>
                    <td>Álgebra Linear</td>
                    <td>6,00</td>
                    <td>Aprovado</td>
                    <td>
                        <div class="btn-group" role="group" aria-label="Basic example">
                            <a role="button" class="button" asp-controller="UnidadesCurriculares" asp-action="Editar">Editar</a> @*asp-route-id="@uc.ID"*@
                        </div>
                    </td>
                </tr>

                <tr>
                    <th scope="row">1.º Semestre</th>
                    <td>1.º Ano</td>
                    <td>21002</td>
                    <td>Álgebra Linear</td>
                    <td>6,00</td>
                    <td>Aprovado</td>
                    <td>
                        <div class="btn-group" role="group" aria-label="Basic example">
                            <a role="button" class="button" asp-controller="UnidadesCurriculares" asp-action="Editar">Editar</a> @*asp-route-id="@uc.ID"*@
                        </div>
                    </td>
                </tr>

                <tr>
                    <th scope="row">1.º Semestre</th>
                    <td>1.º Ano</td>
                    <td>21002</td>
                    <td>Álgebra Linear</td>
                    <td>6,00</td>
                    <td>Aprovado</td>
                    <td>
                        <div class="btn-group" role="group" aria-label="Basic example">
                            <a role="button" class="button" asp-controller="UnidadesCurriculares" asp-action="Editar">Editar</a> @*asp-route-id="@uc.ID"*@
                        </div>
                    </td>
                </tr>





                @************************************************************************************@





            </tbody>
        </table>
    </div>
</div>

    <footer class="border-top footer text-muted">
        <div class="container">
            <div class="text-center">

                &copy; 2023 - UABinYourPocket - While(True) Cry();
            </div>
        </div>
    </footer>


